.page{
    background: url("../image/rana-sawalha-364253-unsplash@1X.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    position: relative;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    height: 55px;
    background-color: rgba(0, 0, 0, 0.41);
    background-blend-mode: darken;
}
.journey{
    font-size: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: left;
    margin-left: 81px;
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    float: left;
}
.ic_caledar, .ic_forum, .ic_journey {
    display: inline-block;
    background-image: url("../image/css_sprites2.png");
    width: 28px;
    height: 59px;
    margin-top: 16px;
}
.ic_caledar {
    background-position: 0 0;
    width: 19px;
    height: 19px;
    float: right;
    margin-right: 28px;
}
.ic_forum {
    background-position: 0 -20px;
    width: 28px;
    height: 20px;
    float: right;
    margin-right: 28px;
}
.ic_journey {
    background-position: 0 -39px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    float: right;
    margin-right: 25px;
    }
.line1 {
    height: 19px;
    width: 1px;
    float: right;
    margin-right: 25px;
    margin-top: 16px;
    opacity: 0.12;
    }
.welcome{
    font-size: 14px;
    float: right;
    margin-right: 75px;
    margin-top: 21px;
    color: #FFFFFF;
   }
.welcome a{
    text-decoration: none;
    color: #3CB878;
    }
.form{
    width: 444px;
    height: 584px;
    background: white;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 25px);
    left: 50%;
    }
.shape{
    width: 18px;
    height: 18px;
    background: #3CB878;
    float: left;
    margin-top: 29px;
    margin-left: 0;
}
.sign_up{
    display: inline-block;
    font-size: 20px;
    width: 77px;
    padding-top: 29px;
    margin-right: 205px;
    margin-left: 42px;
}
.sign_up a{
    color: #434343;
}
.log_in{
    display: inline-block;
    font-size: 14px;
    margin-top: 33px;
    width: 43px;
    }
.log_in a{
    color: #3CB878;
}
.facebook, .google{
    width: 160px;
    height: 48px;
    margin-left: 61px;
    color: white;
    margin-top: 14px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    text-align: left;
    padding-top: 17px;
}
.facebook{
    background: #305DB8;
}
.google{
    background: #DF4A32;
}
.btn1{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 21px;
    float: left;
    margin-right: 17px;
     }
.line2 {
    height: 28px;
    width: 1px;
    float: left;
    margin-right: 18px;
    margin-top: -7px;
    opacity: 0.11;
}
.google {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    color: white;
    font-size: 16px;
    margin-left: 5px;
}
.line{
    padding: 2px;
    width: 322px;
    text-align: center;
    position: relative;
    margin-left: 62px;
    margin-top: 33px;
    margin-bottom: 8px;
    font-size: 14px;
}
.line::before,
.line::after{
    content: '';
    height: 1px;
    width: calc(50% - 18px);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.1);
}
.line::before{
    left: 0;
}
.line::after{
    right: 0;
}
.input, label{
    width: 322px;
    height: 46px;
    margin-left: 62px;
    margin-top: 9px;
    box-sizing: border-box;
    font-size: 14px;
    }
.input{
    padding-left: 18px;
    border-radius: 4px;
    border: 1px solid rgba(238, 238, 238, 1);
    }
.input1{
    margin-top: 21px;
}
label a{
    color: #3CB878;
}
label{
    font-weight: bold;
}
.btn{
    width: 322px;
    height: 46px;
    margin-left: 62px;
    font-size: 16px;
    color: white;
    background: #3CB878;
    margin-top: 28px;
    border-radius: 4px;
    border: none;
}
.welcome a:hover, .log_in a:hover, label a:hover{
    text-decoration: underline;
}
.journey:hover{
    color: #3CB878;
}
.ic_caledar:hover, .ic_forum:hover, .ic_journey:hover{
    filter: invert(51%) sepia(24%) saturate(967%) hue-rotate(97deg) brightness(94%) contrast(93%);
}
.input:focus{
    box-shadow: 0 7px 15px 0 rgba(0,0,0,0.87);
    outline: none;
}
.facebook:hover{
    background-color: #264B96;
}
.google:hover{
    background-color: #C3412C;
}
button:hover{
    cursor: pointer;
}
.btn:hover{
    background-color: #329A65;
}
